{
    "presets": [
        ["@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "modules": "commonjs",
                "targets": {
                    "ie": "11"
                }
            }
        ],
        "@babel/typescript"
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
}
